/*****************/
/** QapTcha CSS **/
/*****************/
.QapTcha {
	margin-top:20px;
}
.QapTcha .clr{
	clear:both;
}
.QapTcha .bgSlider {
	width:268px;
	height:35px;
	border:1px solid #040404;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #505156;
	background: -moz-linear-gradient(top,  #505156 0%, #030303 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505156), color-stop(100%,#030303));
	background: -webkit-linear-gradient(top,  #505156 0%,#030303 100%);
	background: -o-linear-gradient(top,  #505156 0%,#030303 100%);
	background: -ms-linear-gradient(top,  #505156 0%,#030303 100%);
	background: linear-gradient(to bottom,  #505156 0%,#030303 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505156', endColorstr='#030303',GradientType=0 );
}
.unlocked.QapTcha .bgSlider {
	background: #fcfff4;
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead));
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	border: 1px solid #B3BEAD;
}
.QapTcha .Slider {
	width:50px;
	height:36px;
	background:url("../images/lock.png") no-repeat;
	cursor:e-resize;
	position:relative;
	top:0;
	left:0;
	border: 0;
}
.unlocked.QapTcha .Slider {
	background:url("../images/unlock.png") no-repeat;
	cursor:auto;
 }
.QapTcha .TxtStatus {
	margin-top:7px;
	color: #BB2828;
    margin: 5px 2px;
}
.QapTcha .dropSuccess {
	color:#4e8b37;
}
.QapTcha .dropError {
	color:#bb2828;
}